# Supabase Configuration
VITE_SUPABASE_URL=https://uaacaazttcfsasqlfuhz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVhYWNhYXp0dGNmc2FzcWxmdWh6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc3MzQxNzIsImV4cCI6MjEwMzMxMDE3Mn0.rhOH2McxTfdfAR7U3WOlmwkWzRuO9I_LB6CdUz2s3ok
